@use "base/base";
@use "base/reset";
@use "base/typography";
@use "base/variables";

@use "assets/font";

@use "layout/pages";

@use "utilities/scroll-animate";

@use "components/header";
@use "components/footer";
@use "components/scroll-top";
@use "components/buttons";

@use "pages/main";
@use "pages/about";
@use "pages/work";