html{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
}

body{
  background-color: var(--color-bg-base);
  font-family: "Pretendard", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}